@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,700&display=swap');

html, body {
    font-size: 1em;
}

body {
    background-color:  rgb(12, 12, 12);
    color: white;
}

.slide {
    min-height: 100vh;
}

.box-content {
    position: relative;
}

.text-poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.text-poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.text-poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.center-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/** Footer **/

footer {
    font-family: 'Poppins', sans-serif;
}

footer a {
    transition-property: color;
    transition: color .3s
}

footer a:hover {
    text-decoration: none;
    color:rgb(255, 245, 107) !important
}

/** Bootstrap **/

.btn-outline-primary {
    color: rgb(255, 245, 107);
    border-color: rgb(255, 245, 107);
}

.btn-outline-primary:hover {
    background-color: rgb(255, 245, 107);
    border-color: rgb(255, 245, 107);
    color: black !important;
}

.bg-primary {
    background-color: rgb(226, 226, 226) !important;
}

.bg-dark {
    background-color: rgb(12, 12, 12) !important;
}

.text-dark {
    color:rgb(12, 12, 12) !important;
}

.container {
    padding-top: 100px;
}

.border-primary {
    border-color: rgb(255, 245, 107) !important;
}

.bg-yellow {
    background-color: rgb(255, 245, 107);
}

.rounded {
    border-radius: 0.60rem !important;
}

.navbar-brand {
    font-family: 'Archivo', sans-serif;
}

.navbar-brand span {
    color:rgb(219, 207, 40);
}

.text-archivo {
    font-family: 'Archivo', sans-serif;
}

/* Pagination */

.pagination .page-item .page-link {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(255, 245, 107);
    color: white;
}

.pagination .page-item.disabled .page-link{
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: grey !important;
    color: grey !important;
}

.pagination .page-item.active .page-link{
    background-color: rgb(255, 245, 107);
    color: black;
    border-color: rgb(255, 245, 107);
}

.pagination .page-item:hover .page-link{
    background-color: rgb(255, 245, 107);
    color: black;
    border-color: rgb(255, 245, 107);
}

/* Home page */

.jumbotron {
    background-image: url('../uploads/handsome-bartender-making-drinking-cocktails-counter.jpg');
    background-position: center bottom;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
    text-shadow: 2px 1px 4px black;
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
}

/* Products page */

.header {
    height: 60vh;
    padding-top: 56px;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border:rgb(255, 245, 107) 3px solid;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

@media all and (max-width: 500px) {
    .product-img {
        width: 200px !important;
        height: 200px !important;
    }

    .product-desc {
        min-height: auto !important;
    }
}

.product-desc {
    min-height: 80px;
}

/* Cart */

.empty-cart {
    height: 60vh;
    padding-top: 10vh;
}

/* Table */

@media all and (max-width: 500px) {
    table {
        font-size: 12px;
    }
}

.item .actions i {
    color: rgb(255, 245, 107);
    cursor: pointer;
    transition: all .3s;
}

.item .actions i:hover {
    color: rgb(212, 203, 73);
}

.shopping {
    position: fixed;
    z-index: 501;
    bottom: 100px;
    right: 90px;
}

.shopping #cartBtn {
    font-family: arial;
    position: absolute;
    display: block;
    right: -45px;
    bottom: -65px;
    width: 80px;
    height: 80px;
    background:  rgb(12, 12, 12);
    cursor: pointer;
    color: #ffffff;
    font-size: 1.8em;
    line-height: 60px;
    text-align: center;
    padding-top: 5px;
    border-radius: 80px;
    -webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	transition: .2s ease-out;
	-webkit-transition-property: background,transform;
	-moz-transition-property: background,transform;
	-o-transition-property: background,transform;
	transition-property: background,transform;
}

.shopping #cartBtn i {
    color: rgb(255, 245, 107);
}

.shopping #cartBtn span {
    font-size:14px;
    position:absolute;
    right:8px;
    bottom:12px;
    border-radius:50%;
    width:25px;
    height:25px;
    line-height:25px;
    background: rgb(12, 12, 12);
    border:1px solid rgb(255, 245, 107);
}

.shopping #cartBtn:hover {
    transform:scale(1.1);
}

.shopping .cart{
    height:0px;
    overflow:hidden;
    border-radius:15px;
    width: auto;
    background:  rgb(12, 12, 12);
    padding:0 20px;
	transition: .4s ease-out;
	transition-property: height,padding;
}

.shopping .cart .empty-msg {
    border: 1px solid rgb(255, 245, 107);
    border-radius: 30px;
    padding: 15px;
}

.shopping.open .cart{
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
}

@media all and (max-width: 500px) {
    .shopping #cartBtn {
        right: -70px;
        bottom: -70px;
        width: 70px;
        height: 70px;
    }

    .shopping #cartBtn span {
        bottom: 2px;
        right: 2px;
    }

    .shopping #cartBtn:hover {
        transform: none;
    }
}