<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="DrinkStore - Vos cocktails en ligne !">
        <meta name="description" content="Bienvenue sur Drink Store, découvrez nos différents cocktails et passez votre commande en ligne !">
        <title>{% block title %}DrinkStore{% endblock %}</title>
        <link rel="icon" type="image/png" href="Favicon.png">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
